@model SmallSafe.Web.ViewModels.Home.IndexViewModel

<article>
    <div class="ss-group-toolbar">
    <a href="TODO">Sort by name</a> | <input type="text" name="filter" placeholder="Filter groups..." />
    </div>

    @if (Model.Groups.Any()) {
    <ul class="ss-list">
        <li class="ss-list">
            <ul class="ss-list-item">
                @foreach (var safeGroup in Model.Groups) {
                <li class="ss-list-item" data-group="@safeGroup.Name">
                    <div><img class="ss-list-item-drag-handle" src="/images/drag.png" height="26" width="22" title="Move" /></div>
                    <div></div>
                    <div data-href="/group/@safeGroup.Name" class="ss-list-item-link">@safeGroup.Name</div>
                    <div>
                        <form data-confirm="Are you sure you want to delete this group? Note that this will also delete all password entries in this group." method="post" action="/group/delete/@safeGroup.Name">
                        @Html.AntiForgeryToken()
                        <button title="Delete"><img src="/images/close.png" height="15" width="15" /> Delete</button>
                        </form>
                    </div>
                </li>
                }
            </ul>
        </li>
    </ul>
    } else {
    <p>You have no groups. Add one below:</p>
    }

    <a name="addnewgroup" />
    <p>
    <form method="post" action="/group">
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Add a new group</legend>
    <p>
    <div>Name:</div>
    <input type="text" name="name" />
    </p>

    <p><button name="add" value="true" type="submit" data-depends="input.name">Add</button></p>
    </fieldset>
    </form>
</article>