@model SmallSafe.Web.ViewModels.Home.NewUserViewModel

<article>
    <h1>Welcome!</h1>
    <p>
    To complete the sign-in process, please create a master password and configure your two-factor login.
    </p>

    <h2>Master password</h2>
    <p>
        Enter a strong master password:
        <input type="text" title="Enter a new master password" />
    </p>

    <h2>Two-factor setup</h2>
    <p>
        <div>Scan the QR code in your authenticator app:</div>
        <img src="@Model.TwoFactorImageUrl" />
    </p>
    <p>
        Or enter the manual setup code: @Model.TwoFactorManualEntrySetupCode
    </p>

    <p>
        <div>Validate the code displayed in your authenticator app:</div>
        <input type="text" title="Enter the code generated generated in your authenticator app" />
    </p>

    <p>
        <input type="submit" value="Save master password and confirm two-factor code" />
    </p>
</article>