@model SmallSafe.Web.ViewModels.Login.TwoFactorLoginViewModel

<form method="post" action="/twofactor">
@Html.AntiForgeryToken()
<article>
    @if (Model.IsPasswordOrTwoFaInvalid) {
    <h1>Welcome</h1>
    <p class="ss-validation-failure">Your master password for authenticator code is invalid, please try again.</p>
    } else {
    <h1>Welcome back</h1>
    }

    <p>
        <div>Enter your master password:</div>
        <input type="password" title="Enter a new master password" name="masterpassword" />
    </p>

    <p>
        <div>Enter the code displayed in your authenticator app:</div>
        <input type="text" title="Enter the code generated generated in your authenticator app" name="twofa" />
    </p>

    <p>
        <input type="submit" value="Login" />
    </p>
</article>
<input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
</form>