@model SmallSafe.Web.ViewModels.Profile.IndexViewModel

<article>
    <h1>Change master password</h1>
    <form action="/profile/password" method="post">
    @if (Model.IsPasswordOrTwoFaInvalid) {
    <p class="ss-validation-failure">Your master password or authenticator code is invalid, please try again.</p>
    } else if (Model.PasswordUpdated) {
    <p>Your master password has been successfully updated.</p>
    }
    <p>
        <div>Enter your current master password:</div>
        <input type="password" title="Enter your current master password" name="currentpassword" />
    </p>

    <p>
        <div>Enter your new master password:</div>
        <input type="password" title="Enter your new master password" name="newpassword" />
    </p>

    <p>
        <div>Enter the code displayed in your authenticator app:</div>
        <input type="text" title="Enter the code generated generated in your authenticator app" name="twofa" />
    </p>
    
    <p><button type="submit">Update</button></p>
    @Html.AntiForgeryToken()
    </form>

    <h1>Dropbox sync</h1>
    @if (Model.IsConnectedToDropbox) {
    <p>
        Stop sync'ing your encrypted Safe DB file with Dropbox.
        <form action="/profile/dropbox-disconnect" method="post">
        <p><button type="submit">Disconnect</button></p>
        @Html.AntiForgeryToken()
        </form>
    </p>
    } else {
    <p>
        Connect to Dropbox so any changes to your passwords are sync'd to Dropbox.
        Your encrypted Safe DB file is uploaded to the SmallSafe Dropbox app folder.
        <form action="/profile/dropbox-connect" method="post">
        <p><button type="submit">Connect</button></p>
        @Html.AntiForgeryToken()
        </form>
    </p>
    }
</article>
